body {
  background-color: antiquewhite;
}

.header {
  background-color: rgb(82, 4, 154);
  padding: 1rem;
}

h2 {
  color: antiquewhite;
  margin: 0;
  text-align: center;
  font-size: 2rem;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(82, 4, 154);
}
.text {
  margin: 2rem;
  padding: 1rem;
  width: 70%;
  background-color: white;
  border-radius: 2rem;
}
.content p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 900;
}
.content span {
  font-weight: 900;
}
